@import 'globals';

html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

#app {
  width:100%;
  height:100%;

  .popup {

    h1 {
      margin:0;
      padding:5px 10px 5px 5px;
      font-weight:normal;
      font-size:24px;
    }

  }

}
